{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Page</title>
    <link rel="stylesheet" href="{% static 'products/css/check_product.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="product-container">
            <div class="product">
                <img src="{% static 'products/img/baseball-glove.png' %}" alt="Product 1">
                <h2>Luva de Baseball</h2>
                <p>This is an amazing product.</p>
                <button>Add to Cart</button>
            </div>
		    <div class="product">
                <img src="{% static 'products/img/basketball.png' %}" alt="Product 1">
                <h2>Bola de basquete</h2>
                <p>This is an amazing product.</p>
                <button>Add to Cart</button>
            </div>
            <!-- You can add more products here -->
        </div>
    </main>
	<footer>
		<form class="full-width-form" action="{% url 'check_product' %}" method="POST">{% csrf_token %}
			<input type="text" name="suggestion" placeholder="If you couldn't find the product you want, fill this field!">
			<button type="submit">Submit</button>
		</form>
	</footer>
	
</body>
</html>

